.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  text-align: center;
  margin-bottom: 20px !important;
}

.ImgHeight {
  max-height: 100%;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Username {
  font-weight: 800;
  color: #000 !important;
  font-size: 1.1rem;
}

/* like button */
.Heart {
  color: #f85032 !important;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

/* location icon and link */
.locationIcon {
  color: #ffb366 !important;
  font-size: 1.2rem;
  padding-right: 3px;
  vertical-align: middle;
}

.locationIcon:hover {
  color: #ffb366 !important;
  cursor: pointer;
}

.LocationLink {
  font-size: 0.9rem;
  color: #007bff !important;
  font-weight: 400;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.LocationLink:hover {
  color: #0056b3 !important;
}